h1{
    background-color: green;
    opacity: 1;
}
h2{
    background-color: green;
    opacity: 0.8;
}
h3{
    background-color: green;
    opacity: 0.5;
}
h4{
    background-color: green;
    opacity: 0.3;
}
h5{
    background-color: green;
    opacity: 0.1;
}