.one {
  text-decoration-line: line-through;
  text-transform: lowercase;
}
.two {
  text-decoration-line: overline;
  text-transform: uppercase;
}
.three {
  text-decoration-line: underline;
  text-transform: inherit;
}
.four {
  text-decoration-line: inherit;
}
.five {
  text-decoration-line: underline line-through;
}
