p {
  background-image: url("./maria-oswalt-TRkDaJGK2yE-unsplash.jpg");
  width: 30%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin: 0px 10px 10px 0px;
  background-position: center;
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgb(117, 117, 117);
}
.two {
  background-image: url("./microsoft-365--bX6sdYw48s-unsplash.jpg");
}
.three {
  background-image: url("./surface-8JALcqYP25s-unsplash.jpg");
}
.four {
  background-image: url("./surface-eChLA6svf_Y-unsplash.jpg");
}

.five {
  background-image: url("./maria-oswalt-TRkDaJGK2yE-unsplash.jpg");
}
.six {
  background-image: url("./maria-oswalt-TRkDaJGK2yE-unsplash.jpg");
}
