* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #272525;
    padding: 10px;
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: rgb(116, 110, 110);
  }
  
  .topnav {
    background-color: rgb(59, 52, 52);
    overflow: hidden;
  }
  
  .topnav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 24px 26px;
    display: block;
    float: left;
  }
  
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  

.leftColumn{
    float: left;
    width: 75%;
    /* height: 300px; */
    /* border: 2px solid red; */
}
.rightColumn{
    float: right;
    width: 25%;
    /* height: 300px; */
    /* border: 2px solid blue; */
}

.card{
    background-color: white;
    padding: 20px;
    margin:10px 5px 0px 0px;
    background-color: #aaa;
    /* border: 1px solid tomato; */
    height: 300px;
}

.image{
    background-color: #aaa;
    width: 100%;
    padding: 8px 2px;
    border: 1px solid blue;
}

.row::after{
    content: ""; 
    display: table;
    clear: both;
}

.footer{
    padding: 20px;
    margin: 10px 0px 0px 0px;
    text-align:center;
    background: rgb(73, 70, 70);
}